body{
	min-height: 100vh;
	color: #1a1a1a;
	font-family: 'Merriweather', serif;
}

a{
	&.link{

	}

	&.header-link{
		color: #009e8e;
		text-decoration: underline !important;
	}

	color: inherit;
	text-decoration: none !important;
	outline: none;

	&:hover{
		color: #009e8e;
	}
}

.breadcrumb{
	&-item{
		&+&:before{
			content: "›";
		}
	}
}

@media (min-width: 992px) {
	.col-md-border {
		.col-md-border-border{
			&:after{
				content: "";
				display: block;
				position: absolute;
				width: 1px;
				height: 80px;
				margin: auto;
				right: 0;
				top: 0;
				bottom: 0;
				background: #d7d7d7;
			}
		}
	}
	.col-md-border:last-child {
		.col-md-border-border{
			&:after{
				background: transparent;
			}
		}
	}
}