.icon-block{
	background: #1e2838;
	color: #fff;
	text-align: center;
	
	.section{
		padding: 80px 40px;
		&-icon{
			display: block;
			font-size: 24pt;
			margin-bottom: 1.5rem;
			text-decoration: none !important;
			transition: color 0.3s;
			i:before{
				font-size: 36px;
			}
		}
		&-link{
			display: block;
			font-size: 105%;
			&.big{
				font-size: 140%;
			}
		}
		&-text{
			font-family: 'Open Sans', 'Verdana', sans-serif;
			font-weight: normal;
			font-size: 10pt;
			text-decoration: none !important;
			line-height: 1.5rem;
			color: #c9c9c9;
		}
	}
}