<ul class="nav flex-column">
	<li class="nav-item">
		<a href="#" class="nav-link">Témata lekcí</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link">Hodnocení výuky</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link">Nastavení profilu</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link">Přihlášky</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link">Rozvrh lekcí</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link">Pracovní docházka</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link">Editace akcí</a>
	</li>
</ul>