<h3 class="modal-title pt-2 pb-2">Zaznamenání docházky</h3>

<form action="">
	<div class="form-group datepicker">
		<div class="row">
			<div class="col-6">
				<label for="">Čas od</label>
				<input type="text" class="input-sm form-control" placeholder="Od" name="dochazka-od" /> 
				<input type="time" class="form-control mt-1" name="dochazka-od-time">
			</div>
			<div class="col-6">
				<label for="">Čas do</label>
				<input type="text" class="input-sm form-control" placeholder="Do" name="dochazka-do" />
				<input type="time" class="form-control mt-1" name="dochazka-do-time">
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-6">
				<label for="">Výběr kroužku</label>
				<select id="" class="form-control" name="dochazka-krouzek" placeholder="Výběr kroužku">
					<option value="">Báňská</option>
					<option value="">Ostrava</option>
					<option value="">Brno</option>
					<option value="">Praha</option>
				</select>
			</div>
			<div class="col-6">
				<label for="">Popis</label>
				<textarea id="" cols="30" rows="2" class="form-control" name="dochazka-popis" placeholder="Popis činnosti"></textarea>
			</div>
		</div>
	</div>
	<div class="form-group text-right">
		<button class="btn form-check btn-secondary btn-danger">Zrušit</button>
		<button class="btn form-check btn-primary">Přidat</button>
	</div>
</form>