<div class="col-xl-12 p-0 bg-transparent border-0 pt-2">
	<nav aria-label="Stránkování">
		<ul class="pagination justify-content-end">
			<li class="page-item"><a class="page-link" href="#">Předchozí</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Další</a></li>
		</ul>
	</nav>
</div>