<div class="w3-ul">
	<!--<? for($i==0;$i<3;$i++): ?>-->
		<li class="w3-bar">
			<span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span>
			<img src="https://dummyimage.com/85x85/000/fff" class="w3-bar-item w3-circle" style="width:85px">
			<div class="w3-bar-item">
				<span class="w3-large">Kroužek 12:00 - 13:00 5.12.2018</span><br>
				<span>Kroužek</span>
			</div>
		</li>
	<!--<? endfor; ?> -->
</div>