header{
	background: #fff;
	z-index: 1000;

	.stripe{
		color: #1a1a1a;
		vertical-align: top;
		font-weight: 900;
		font-size: 100%;
		text-transform: uppercase;
		text-decoration: none;

		&-text{
			padding-top: 12px;
			padding-bottom: 12px;
		}

		&-gradient-bar{
			width: 100%;
			height: 4px;
			background: linear-gradient(to right, #009e8e 33%, white 95%);
		}

		a{
			color: inherit;
			font-size: 100%;
			text-decoration: none;
		}
	}

	.white-stripe{
		height: 101px;
	}

	.header{
		&-links{
			font-size: 14px;
			padding-top: 10px;

			& > div{
				display: inline-block;
				vertical-align: middle;
			}

			.links-primary{
				padding-right: 48px;
			}

			.links-primary,
			.links-secondary{
				.link:not(:last-child){
					padding-right: 32px;
				}
			}

			.link-spacer{
				width: 16px;
				display: inline-block;
			}
		}

		&-logo{
			img{
				width: 111px;
				margin-top: 15px;
				z-index: 10000;
				position: relative;
			}
		}
	}

	.main-menu{
		.nav-item{
				position: relative;
			.nav-link{
				font-size: 12pt;
				padding-left: 22px;
				padding-right: 22px;
				color: #1a1a1a;
				font-weight: 600;
				text-decoration: none;
				position: relative;
				font-family: 'merriweather', serif;
				user-select: none;
				outline: none;
				transition: color 0.3s;
				&:after{
					content: '';
					position: absolute;
					background-color: #c9c9c9;
					height: 60%;
					right: 0;
					top: 20%;
					width: 1px;
				}
			}
			&:last-child{
				.nav-link:after{ background-color: transparent; }
			}
		}
	}
}