.content{
	&-page{
		background: #f5f5f5;

		&-nav{
			background: #fff;
			border-right: 1px #ddd solid;
		}

		&-content{
			.breadcrumb{
				background: none;
				padding: 0;
				margin-bottom: 0;
			}

			& > .row > *[class^='col'], 
			& > .row > *[class*=' col']{
				background: #fff;
				padding: 8px 3rem;
				border-bottom: 1px solid #ddd;

				&.border-top{
					border-top: 1px solid #ddd;
				}

				&.border-none{
					border-top: 0;
					border-bottom: 0;
				}

				&.border-around{
					border-top: 0;
					border-bottom: 0;
					border: 1px solid #ddd;
				}
			}
		}
	}
}