@import 'profile/_header.less';

// .content{
// 	&-page{
// 		background: #f5f5f5;

// 		&-nav{
// 			background: #fff;
// 			border-right: 1px #ddd solid;
// 		}

// 		&-content{
// 			.breadcrumb{
// 				background: none;
// 				padding: 0;
// 				margin-bottom: 0;
// 			}

// 			*[class^='col'], 
// 			*[class*=' col']{
// 				background: #fff;
// 				padding: 8px 3rem;
// 				border-bottom: 1px solid #ddd;
// 			}
// 		}
// 	}
// }